
{% for article in articles%}
<article class = "article-item">

    {% if article.image != 'null' and article.image.url|length >= 1 %}
        <div class ="image">
            <img src = "{{article.image.url}}" />
        </div>

    {% endif%}

    <div class = "data">
        <h2>
            <a href="{% url 'article' article.id %}">{{article.title}}</a>

            </h2>
        <p>
            {% for category in article.categories.all %}
               <a href="{% url 'category' category.id %}"> {{category.name}}</a>

                {% if forloop.counter < article.categories.all|length %}
                    {{'|'}}
                {% endif %}
            {% endfor %}
        </p>
        <span class="date">
            {{article.user.first_name}} {{article.user.last_name}}
            |
            {{article.created_at}}
        </span>

        <p>
            {{article.content|safe}}
         
        </p>

        <a href = "{% url 'modificar_articulo' article.id %}"> <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="22" height="22" viewBox="0 0 24 24" stroke-width="2" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
            <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
            <line x1="16" y1="5" x2="19" y2="8" />
          </svg></a>
        
    </div>
    <div class= "clearfix"></div>
</article>
<hr>
{% endfor %}