{% extends 'layouts/layout.html'%}


{%block title %} {{article.title}} {% endblock %}


{%block content %}
<div class="verReceta">
{% if article.image != 'null' and article.image.url|length >= 1 %}
<div class ="image">
    <img src = "{{article.image.url}}" />
</div>

{% endif%}
    <h1 class ="title">{{article.title}}</h1>
    <span class = "date"> {{article.author.first_name}} {{article.author.last_name}} | {{article.created_at}}</span>
    <p class = "content">
        {{article.content| safe}}
    </p>


    <a href="{% url 'crear_comentario' article.id %}"><h4>Agregar un comentario...</h4></a>

    

    {% comment %} <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Enviar comentario</button>
    </form> {% endcomment %}
  
    <!-- Mostrar los comentarios existentes -->
    <h3>Comentarios:</h3>
    {% for comment in article.comments.all %}
      <strong><p>{{ comment.author }} | {{ comment.created_on }} </strong> 
     
      <p>{{ comment.content }}</p>
      
      <hr>
    {% empty %}
      <p>No hay comentarios aún.</p>
    {% endfor %}

    <a href="{% url 'list_articles' %}"><button class="btn btn-primary">Volver</button></a>

</div>
{% endblock %}