{% extends 'layouts/layout.html'%}





{%block title %} {{title}} {% endblock %}




{%block content %}
<body class='body-list'>
    <h1 class ="title title-recetas">{{title}}</h1>




    {% include 'articles/articles.html' %}

    
    {% include 'articles/pagination.html' %}


    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    {% if messages %}
    {% for m in messages %}
    <script>
        Swal.fire({
           "title" : "Operación Exitosa",
           "text" : "{{m}}",
           "icon" :"success"
        })
      </script>
    {% endfor %}
    {% endif %}   

    
</body>
    {% endblock %}