/* Se aplica en toda la aplicación */

* {
  text-decoration: none !important;
  list-style: none;

}

/* Formularios */

.form-control-dark {
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}


.title {
  color: #444;
  letter-spacing: 1px;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 2.1rem;
}

img {
  height: 240px !important;
  width: 250px !important;
  align-items: center;
}

nav>ul>li>ul {
  display: none;
  position: absolute;
  color: black;
  text-align: left;
  width: 160px;
  box-shadow: 0px 2px 2px rgb(58, 57, 57);
}

nav>ul>li:hover>ul {
  display: block;
  color: black;
  margin: 0px;
  list-style: none;

}

nav>ul>li:hover>ul>li {
  background: #F2F1F0;
  border-bottom: 1px solid #d6d6d6;
  padding: 8px;
  line-height: 25px;
  font-size: 13px;
}

nav>ul>li:hover>ul>li a {
  color: #666;
}

nav>ul>li:hover>ul>li:hover {
  background-color: #1f7e58;
}


nav>ul>li:hover>ul>li:hover a {
  display: block;
  color: white;
}

/* 
 ul li a{
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  color: #d1d4d6;
  height: 50px;
}



 ul li a:hover{
  background-color:#2ba977;
  box-shadow: 0px 00px 30px black inset;
  color: white;
  transition: all 300ms;
} */

.box a {
  color: #444;
}

.box a:hover {
  color: #1f7e58;
}

.box .image {

  float: left;
  margin-right: 40px;
}

.box .image img {
  width: 100%;

}

/* .box form{
  width: 35%;
} */

.box form input,
.box form label {
  display: block;
  padding: 5px;
  padding-left: 0px;
  margin-top: -5px;
  color: black;
  font-weight: bold;

}

.box form label {
  color: white;
}

.box form input[type="text"],
.box form textarea {
  width: 100%;
  margin-bottom: 10px;

}

.box form input[type="text"],
.box form textarea,
.box select {
  width: 100%;
  margin-bottom: 10px;

}

.box form textarea {
  height: 150px;
  width: 480px;
}

.box select {
  width: 150px;
  padding: 5px;
}

.box form input[type="submit"],
.box form input[type="button"],
.box form button {
  padding: 10px;
  margin-top: 5px;
  background-color: #2ba977;
  color: white;
  font-weight: bold;
  border: 1px solid black;
  transition: 300ms all;
}

.box form input[type="submit"]:hover,
.box form input[type="button"]:hover,
.box form button:hover {
  cursor: pointer;
  background: #1f7e58;

}


.pagination{
  margin-left: 20%;
}

.hr{
  margin-left: 20%;
}
/* .box{
  margin-top: -10px !important;
  width:500px;
} */

/* Inicio */

/* @media(min-width:1480px) {
  #content {
    height: 500px;
    margin-right: 10%;
    margin-left: 18%;
    margin-top: 100px;
    text-align: justify;
  }
}

@media screen and (min-width:376px) and (max-width:1480px) {
  #content {
    height: 500px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 100px;
    text-align: justify;
  }
} */

@media(min-width:1480px) {
.hero{
  width:100%;
  margin-left: 35%;
  margin-top: 200px;
}}


@media screen and (min-width:376px) and (max-width:1480px)  {
  .hero{
    width:100%;
    margin-left: 15%;
    margin-top: 200px;
  }}

  .body-back {
    background-color: rgba(0, 0, 0, .7);
    background-image: url(../images/background3.png);
  
    background-size: cover;
    background-repeat: no-repeat;
  
    width: 100%;
  }
  
  .white {
    color: white;
    font-weight: bold;
  }
  
  .cuadro {
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin-left: 85px;
    margin-top: 90px;
  }
  
  .title-index {
    color: white;
  }

/* Recetas */

.article-item {
  display: flex;
  flex-direction: row;
  margin-left: 20%;
  margin-top: 40px;
  width:100%;
}



.title-receta {
  color: white;
}

.title-recetas{
  margin-left: 18%;
  margin-top: 20px;
}

.date {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: grey;
}


.content {
  line-height: 25px;
}

/* Modificar - Receta */

.formEditarReceta{
  width:700px;
  margin-left: 50%;
  margin-top: 40px;
}

.formEditReceta label{
  color:black !important;

}

.form-edit{
  margin-left: -150px;
}

.formEditBotones{
  gap:20px;
}


@media screen and (min-width:376px) and (max-width:1480px) {
.formEditarReceta{
  width:700px;
  margin-left: 45%;
  margin-top: -10px;
}

.formEditReceta label{
    color:black !important;
}

.formEditReceta textarea{
    height: 100px !important;
    width: 380px !important;
}

.form-edit{
  margin-left: -150px;
}

.formEditBotones{
  gap:20px;
}

}


/* Ver Receta */ 

.verReceta{
  width:100%;
  margin-left: 50%;
  margin-top: 40px;
}



/* Categorías */
.category-item{
  margin-left: 20%;
  margin-top: 40px;
  width:100%;
}


.title-categories{
  margin-left: 28%;
  margin-top: 20px;
}

.title-category{
  margin-left: 15%;
  margin-top: 20px;
}



.categ {
  color: white;
}


/* Productos */

.title-producto{
  margin-left: 15%;
  margin-top: 20px;
}


/* Modificar - Producto */

.formEditarReceta{
  width:700px;
  margin-left: 50%;
  margin-top: 40px;
}

.formEditReceta label{
  color:black !important;

}

.form-edit{
  margin-left: -150px;
}

.formEditBotones{
  gap:20px;
}


@media screen and (min-width:376px) and (max-width:1480px) {
.formEditarReceta{
  width:700px;
  margin-left: 45%;
  margin-top: -10px;
}

.formEditReceta label{
    color:black !important;
}

.formEditReceta textarea{
    height: 100px !important;
    width: 380px !important;
}

.form-edit{
  margin-left: -150px;
}

.formEditBotones{
  gap:20px;
}

}


.boton-search {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 50px;
  width: 350px;
  margin-left: 20px;
}

.boton {
  height: 50px;
  width: 150px;
}


.contenedor {
  border: 1px solid black;
  padding: 20px;
  width: 600px;
  background-color: hsla(0, 0%, 0%, 0.367);
  border-radius: 5px 5px 5px 5px;

}

/* .message{
  padding: 20px;
  background:#1f7e58;
  color:white;
  text-align: center;
  margin-bottom: 10px;
} */

/* .button-crear {
  height: 50px;
  background-color: #2ba977;
  margin-left: 15px;
  color: white;
  font-weight: bold;

}

.a-crear {
  color: white !important;
  font-weight: bold;

}

.botones {


  margin-top: 40px;
}


.button-buscar {
  height: 50px;
  background-color: #2876cf;
  margin-left: 15px;
  color: white;
  font-weight: bold;

} */


/* Formulario de Crear Receta */


.body-back-crearArt {
  background-image: url(../../../media/articles/background-recetas.png);
  background-size: cover;
}

/* Formulario de Crear Categoría*/

.body-back-crearCat {
  background-image: url(../../../media/articles/textura-08.jpg);
  background-size: cover;
}

/* Recetas - Background */

.body-list {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  background-size: cover;
}

/* Categoría - Background */
.body-list-cat {
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);

}

/* Productos - Background */
.body-list-prod {

  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  background-repeat: no-repeat;


}



@media(min-width:1480px) {
  .height {
    height: 929px !important;
  }
}

@media screen and (min-width:376px) and (max-width:1480px) {
  .height {
    height: 713px !important;
  }

  #content {
    height: 500px !important;
  }
}

/* Login, Logout y Register */

.form-register {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-top: 20px;
  border: 3px;
  background-color: #5555;
  border-radius: 3px;
  padding: 20px;
  padding-left: 15px;
  padding-right: 15px;

}

.input-register {
  height: 50px;
  width: 150px;
  border-radius: var(--bs-border-radius-lg) !important;
  color: #fff;
  background-color: #0d6efd;
}

.login-input {
  display: flex;
  justify-content: right;
  margin-right: 10px;
  margin-top: 10px;
  font-weight: bold;

}

.input-login {
  height: 50px;
  width: 150px;
  border-radius: var(--bs-border-radius-lg) !important;
  color: #fff;
  background-color: #0d6efd;
  font-weight: bold;

}


.label-register {
  padding: 10px;
}

.label {
  padding: 10px;
}

.modal-sheet .modal-dialog {
  width: 380px;
  transition: bottom .75s ease-in-out;
}

.modal-sheet .modal-footer {
  padding-bottom: 2rem;
}

.modal-alert .modal-dialog {
  width: 380px;
}

.modal-tour .modal-dialog {
  width: 380px;
}

.bg-color {
  background-color: #5555;
}

.register-errors {
  margin-top: 20px;
  background-color: #d57eeb;
}

.table-flex {
  padding: 30px !important;
  margin: 40px;
}


/* Sidebar Active */

ul li a.active {
  display: block;
  background-color: #0d6efd !important;
  color: white;
  padding: 10px;

}

/* Avatar */

.imagen-avatar {
  height: 20px !important;
  width: 20px !important;
}

.imagen-avatar-perfil {
  height: 50px !important;
  width: 50px !important;
}

 /* Buscar */

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
  margin-left: 250px;

}

@media screen and (min-width:376px) and (max-width:1480px) {
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    margin-left: 120px;

  }
}


.imagen-card {
  background-image: url(../images/libro-recetas-blanco-su-texto-rodillo-moldes-huevos-masa-azucar-plano-ver-copie-espacio-ingredientes-hornear-utensilios-cocina-sobre-fondo-gris-galletas-vac.webp);
  width: 286px !important;
}


.imagen-card2 {
  background-image: url(../images/Productos2.jpg);
  width: 286px !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.editar-perfil label {
  color: black !important;
}

.text-btn-card {
  color: white !important;
}



/* Acerca de mí */

.about{
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.imagen-about{
  background-image: url(../images/image.png);
  background-size: cover;
  width: 286px !important;
}

.mediosContacto{
  margin-top: 50px;
 
}

.iconos{
  margin-left: 70px;
}