{% extends 'layouts/layout.html'%}


{%block title %} {{product.name}} {% endblock %}


{%block content %}
<div class="verReceta">
{% if product.image != 'null' and product.image.url|length >= 1 %}
<div class ="image">
    <img src = "{{product.image.url}}" />
</div>

{% endif%}
    <h1 class ="title">{{product.name}}</h1>
    <span class = "date">{{product.created_at}}</span>
    <p class = "content">
        {{product.description| safe}}
    </p>




    <a href="{% url 'list_productos' %}"><button class="btn btn-primary">Volver</button></a>

  </div>
{% endblock %}