{% extends 'layouts/layout.html'%}


{%block title %} {{title}} {% endblock %}


{%block content %}
<body class="body-list-prod">
    <h1 class ="title">{{title}}</h1>
<br/>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    {% if messages %}
    {% for m in messages %}
    <script>
        Swal.fire({
           "title" : "Operación Exitosa",
           "text" : "{{m}}",
           "icon" :"success"
        })
      </script>
    {% endfor %}
    {% endif %}   

 
 
    {% include 'products/products.html' %}

    {% include 'products/pagination.html' %}
    </body>
{% endblock %}