{% extends 'layouts/layout.html' %}

{%block title %} Editar Producto {% endblock %}

{% block content %}

<div class="card formEditarReceta">
    <div class="card-body">
        <h2> Editar Producto </h2>
        <hr>

        <div class=" form-edit">
            <div class="col-12 col-md-6 offset-md-3">

                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{form}}

                    <div class="d-flex justify-content-center formEditBotones">
                        <a href="{% url 'list_productos' %}"><button class="btn btn-primary">Cancelar</button></a>
                        <input type='submit' value='Editar' class="btn btn-primary">
                    </div>
                </form>
         

            </div>
        </div>
    </div>

    {% endblock %}