
{% extends 'layouts/layout.html'%}



{%block title %}  Resultados de Busqueda {% endblock %}


{%block content %}


<h1 class="title-resultado"> Resultado de la búsqueda :{{name}}</h1>
{% if productos %}
<br/>
<br/>
<ul> 
    {% for producto in productos%}
       <a href={% url 'product' producto.id%}> <li> Nombre del Producto: {{producto.name}} </li></a>
        <li> Descripción: {{producto.description}} </li>
        <li> Precio: {{producto.price}} </li>
<hr>
    {% endfor %}


</ul>

{% endif %}
{% endblock %}