{% extends 'layouts/layout.html' %}

{% load static %}

{%block title %} Editar Perfil {% endblock %}
{% block content %}

   
    <h1 class="title-perfil">Formulario - Editar Perfil De {{user}}</h1>

    <br/>
    <br/>
    <br/>
    <div class= "contenedor crear-receta">
    <form action="" method="POST">
        {% csrf_token %}

        
        
        <table class="editar-perfil">

            {{ miFormulario.as_table }}

        </table>

        <input type="submit", value="Enviar">
    </div>
    </form>  

    
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    {% if messages %}
    {% for m in messages %}

        <div>
           <script>
            Swal.fire({
                "title" : "Registro Exitoso",
                "text" : "{{m}}",
                "icon" : "success"
            })
           </script>
        </div>
    {% endfor %}
{% endif%}

{% endblock %}

