{% extends 'layouts/layout.html' %}

{% load static %}

{% block content %}

    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>Formulario - Editar Perfil</h1>
    <h1>De {{user}}</h1>
    

    <form action="" method="POST">{% csrf_token %}

        <!-- Acá está la magia de Django-->
        
        <table>

            {{ miFormulario.as_table }}

        </table>

        <input type="submit", value="Enviar">

    </form>  

    
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    {% if messages %}
    {% for message in messages %}

        <div>
           <script>
            Swal.fire({
                "title" : "Registro Exitoso",
                "text" : "{{message}}",
                "icon" : "success"
            })
           </script>
        </div>
    {% endfor %}
{% endif%}

{% endblock %}

