{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <title>
    {% block title %}
    {{title}}
    {% endblock %}
  </title>


  <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %}" />


  <link rel="stylesheet" href=" {% static 'css/styles.css' %}" />

</head>







{%block content %}
    <body class="">
    <h1 class="">{{title}}</h1>

    {{register_form.errors}}

    <form method = "POST" action = "" class="row g-3"> 
         {% csrf_token %}

         {% comment %} {{register_form.as_p}} {% endcomment %}
        <div class="form-register " >
         {% for field in register_form %}
         <div class = "col-md-6 label">
            <label>{{field.label}}</label>
            {{field}}
         </div>
         {% endfor%}

       <div class = "col-md-6">
         <input type = "submit" value ="Registrarse"/>
       </div>
      </div>
    </form>


    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    {% if messages %}
    {% for m in messages %}

        <div>
           <script>
            Swal.fire({
                "title" : "Registro Exitoso",
                "text" : "{{m}}",
                "icon" : "success"
            })
           </script>
        </div>
    {% endfor %}
{% endif%}

</body>
{% endblock %}