{% extends 'layouts/layout.html' %}

{% load static %}

{% block title %}
Listado de Usuarios
{% endblock %}

{% block content %}
    <h2 class="title-usuarios">Usuarios</h2>
    <table class="table table-striped table-flex">
        <thead>
            
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre de Usuario</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Email</th>
              <th scope="col">Staff Estado</th>
              <th scope="col">Superusuario Estado</th>
              <th scope="col">Permisos</th>
              
            </tr>
          </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{% if user.is_staff %}Si{% else %}No{% endif %}</td>
                    <td>{% if user.is_superuser %}Si{% else %}No{% endif %}</td>
                    <td><a href="{% url 'edit_user_permissions' user.id %}">Editar Permisos</a></td>
                   
                </tr>
            {% endfor %}
        </tbody>
    </table>



       
        {% comment %} <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table> {% endcomment %}
{% endblock %}