{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        <!-- Titulo de cada pagina -->
        {% endblock %}
    </title>

  
    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %}" />
    
  
    <link rel="stylesheet" href=" {% static 'css/styles.css' %}" />

</head>

<body>

    <!-- Cabecera de la pagina -->
    {% comment %} <header>
        <div id="logotipo">
            <!-- Logo Django -->
            <img src="{% static 'images/logo.png'%}">
            <h1>Blog de Recetas</h1>
        </div>

    </header> {% endcomment %}
{% comment %} 
    <nav class="navbar navbar-expand-lg  bg-dark ">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="#">Spazio Dolce</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" href="{% url 'index' %}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'about' %}">Sobre nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">Recetas</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav> {% endcomment %}
{% comment %} 
      <header class="p-2 text-bg-dark">
                 
        <div class="container">
   
          <div class="d-flex flex-wrap align-items-center justify-content-start ">
             
      <a href="/" class=" text-light text-decoration-none ">
              <img class="logo" src="{% static 'images/Logo2.png' %}">
            </a> 
 <nav>  
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-start mb-md-0">
              <li><a href="{% url 'index' %}" class="nav-link px-2 text-light">Inicio</a></li>
              <li><a href="{% url 'list_categorias' %}" class="nav-link px-2 text-light">Categorías</a></li>
              <li><a href="{% url 'list_articles' %}" class="nav-link px-2 text-light">Recetas</a></li>
              <li><a href="{% url 'list_productos' %}" class="nav-link px-2 text-light">Productos</a></li> {% endcomment %}

              {% comment %} <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle categ" href="{% url 'list_articles' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Categorías
                </a>
                <ul class="dropdown-menu">
                  {% for category in categories %}
                  {% if category.id %}
                      <a href="{% url 'category' category.id %}">{{ category.name}}</a>
                  {% endif %}
                  {% endfor %}
                </ul>
              </li> {% endcomment %}
          {% comment %} <li>
                <a href="{% url 'list_articles' %}" class="nav-link px-2 text-light">Categorías</a>
                <ul>
                  <li>
                    <a href="{% url 'index' %}" class="nav-link px-2 text-light">Categoría 1</a>
                    <a href="{% url 'index' %}" class="nav-link px-2 text-light">Categoría 2</a>
                    <a href="{% url 'index' %}" class="nav-link px-2 text-light">Categoría 3</a>
                  </li>
                </ul>
              </li>  {% endcomment %}

              {% comment %} {% for page in pages %}
              <li><a href="{% url 'page' page.2 %}" class="nav-link px-2 text-white">{{page.1}}</a></li>
              {% endfor %}

            
            </ul>
          </nav> 
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 boton-search" role="search">
              <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
             
                 <button type="button" class="btn btn-outline-light me-2 boton">Buscar</button>
             
            </form>
  {% endcomment %}
            {% comment %} <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">Iniciar Sesión</button>
                <button type="button" class="btn btn-warning">Registrarse</button>
                
            </div> {% endcomment %}
{% comment %}           
          </div>  
     
        </div>
   
      </header>  {% endcomment %}
{% comment %}       
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div> {% endcomment %}

      <main class="d-flex flex-nowrap height">
    <h1 class="visually-hidden">Spazio Dolce</h1>

    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        
          <span class="fs-4">Spazio Dolce</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="{% url 'inicio' %}" class="nav-link active" aria-current="page">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home-2" width="22" height="22" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <polyline points="5 12 3 12 12 3 21 12 19 12" />
              <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
              <rect x="10" y="12" width="4" height="4" />
            </svg>
            Inicio
          </a>
        </li>
        <li>
          <a href="{% url 'list_articles' %}" class="nav-link text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-notes" width="22" height="22" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <rect x="5" y="3" width="14" height="18" rx="2" />
              <line x1="9" y1="7" x2="15" y2="7" />
              <line x1="9" y1="11" x2="15" y2="11" />
              <line x1="9" y1="15" x2="13" y2="15" />
            </svg>
            Recetas
          </a>
        </li>
        <li>
          <a href="{% url 'list_categorias' %}" class="nav-link text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-notebook" width="22" height="22" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M6 4h11a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-11a1 1 0 0 1 -1 -1v-14a1 1 0 0 1 1 -1m3 0v18" />
              <line x1="13" y1="8" x2="15" y2="8" />
              <line x1="13" y1="12" x2="15" y2="12" />
            </svg>
            Categorías
          </a>
        </li>
        <li>
          <a href="{% url 'list_productos' %}" class="nav-link text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-store" width="22" height="22" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <line x1="3" y1="21" x2="21" y2="21" />
              <path d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4" />
              <line x1="5" y1="21" x2="5" y2="10.85" />
              <line x1="19" y1="21" x2="19" y2="10.85" />
              <path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4" />
            </svg>
            Productos
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-square" width="22" height="22" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <line x1="12" y1="8" x2="12.01" y2="8" />
              <rect x="4" y="4" width="16" height="16" rx="2" />
              <polyline points="11 12 12 12 12 16 13 16" />
            </svg>
            Acerca de
          </a>
        </li>
      </ul>
      <hr>

      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle" width="22" height="22" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <circle cx="12" cy="12" r="9" />
          <circle cx="12" cy="10" r="3" />
          <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
        </svg>
        <strong>Hola {{user.first_name}} {{user.last_name}} </strong>
        <ul class="">
       
          <br>
          
          <div>
            <li><a href="{% url 'create_full' %}">Agregar Receta...</a></li>
            <li><a href="{% url 'create_category' %}">Agregar Categoría...</a></li>
            <li><a href="{% url 'create_product' %}">Agregar Producto...</a></li>
            <li><a href="{% url 'create_product' %}">Perfil</a></li>
        </ul>
      </div>
      <hr>
      <div>
        <ul>
          <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a></li>
      </div>
      </ul>
    </div>
    </div>

    <div id="content">
        <div class="box">

            {% block content %}
            <!--Codigo que viene de templates-->
            <strong> Contenido del bloque original </strong>

            {% endblock %}
        </div>
    </div>





    

    </div>
        {% comment %} <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">&copy; Spazio Dolce, Inc</p>
    
  
    
        <ul class="nav col-md-5 justify-content-end">
          <li><a href="#" class="nav-link px-2 text-muted">Inicio</a></li>
          <li><a href="#" class="nav-link px-2 text-muted">Recetas</a></li>
          <li><a href="#" class="nav-link px-2 text-muted">Productos</a></li>
          <li><a href="#" class="nav-link px-2 text-muted">Sobre Nosotros</a></li>
          <li><a href="#" class="nav-link px-2 text-muted">Contáctanos</a></li>
        </ul>
      </footer>
    </div> {% endcomment %}

    <script src =" {% static 'js/bootstrap.js.css' %}"></script>
</body>

</html>