{% extends 'layouts/layout.html'%}



{%block title %} {{title}} {% endblock %}


{%block content %}
    <body class="body-back">
       <div class="cards">
        <div class="card" style="width: 18rem;">
            <img  class="card-img-top imagen-card" >
            <div class="card-body">
              <h5 class="card-title">Buscar Receta</h5>
              <p class="card-text">En esta sección podras buscar las recetas que necesites.</p>
              <a href="{% url 'buscar_articulo' %}" class="btn btn-primary text-btn-card">Buscar</a>
            </div>
          </div>

          <div class="card " style="width: 18rem;">
            <img  class="card-img-top imagen-card2">
            <div class="card-body">
              <h5 class="card-title">Buscar Producto</h5>
              <p class="card-text">En esta sección podras buscar los productos que desees comprar.</p>
              <a href="{% url 'buscar_producto' %}" class="btn btn-primary text-btn-card">Buscar</a>
            </div>
          </div>
  
        </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    {% if messages %}
    {% for m in messages %}
        
   <script>
       Swal.fire({
           "title" : "Acceso denegado",
           "text" : "{{m}}",
           "icon" :"error"
        }) 
    
    </script>
    {% endfor %}
    {% endif %}  

</body>


{% endblock %}